@CHARSET "UTF-8";

table.kalender {
	width: 1000px;
	padding-top: 10px;
	border: 10px;
	margin: auto;
}

table.kalender tr {
	background-color: #E0E0E0;
	vertical-align: baseline;
}

table.kalender tr:nth-child(odd) {
	background-color: #FAFAFA;
}

table.kalender tr th {
	background-color: #c7c7c7
}

table.kalender td {
	height: 70px;
	text-align: center;
	padding: 0px;
}

table.kalender th.vonbis {
	text-align: center;
	width: 50px;
}

table.kalender th.kw {
	text-align: center;
	width: 50px;
}

table.kalender td {
	min-width: 50px;
	max-width: 150px;
	overflow: hidden;
}

table.kalender td.tage:hover {
	overflow: visible;
	background-color: #c7c7c7;
}

table.kalender td.heute {
	background-color: #FF0000;
}

p.globalertermin {
	padding: 0px;
	background-color:#80ff80;

	
}
p.klassentermine{
	padding: 0px;
	background-color:#eee8aa;
	
}

p.feiertagtermine{
	padding: 0px;
	background-color:#ffebcd;
	
}


form.formular {
	margin: auto;
	width: 450px;
	padding-top: 10px;
}

form.formular p{
	text-align: center;
}