@CHARSET "UTF-8";

table.kalender {
	min-width: 1000px;
	padding-top: 10px;
	border: 10px;
	margin: auto;
}

table.kalender tr {
	background-color: #E0E0E0;
}

table.kalender tr:nth-child(odd) {
	background-color: #FAFAFA;
}

table.kalender th {
	text-align: center;
}
	

table.kalender td {
	height: 70px;
}

td.vormonat {
	color: #acaaaa;
}

td.heute {
	font-weight: bold;
}