@CHARSET "UTF-8";

table.kalender {
	width: 1000px;
	padding-top: 10px;
	border: 10px;
	margin: auto;
}


table.kalender tr {
	background-color: #E0E0E0;
	vertical-align: baseline;
}

table.kalender tr:nth-child(odd) {
	background-color: #FAFAFA;
}

table.kalender tr th {
	background-color: #c7c7c7;
}

table.kalender td {
	height: 70px;
	text-align: left;
	}
table.kalender td p{
	padding-left: 5px;
	}

table.kalender td.vonbis {
	text-align: center;
	width: 50px;
	vertical-align: middle;
}

table.kalender td.kw {
	text-align: center;
	width: 50px;
	vertical-align: middle;
	
}

table.kalender td {
	min-width: 50px;
	max-width: 150px;
	overflow: hidden;
}

table.kalender td.tage:hover {
	overflow: visible;
	background-color: #c7c7c7;
}

table.kalender td.heute {
	background-color:;
	border-style: solid;
	border-color: #808080;
	border-width: 2px;
}

p.globalertermin {
	padding: 0px;
	background-color:#d3d7cf;
	margin: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

p.klausur ,.test{
	padding: 0px;
	background-color:#cbf6bf;
	margin: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

p.test {
	background-color:#f79494;
}


form.formular {
	margin: auto;
	width: 450px;
	padding-top: 10px;
}

form.formular p{
	text-align: center;
}