@CHARSET "UTF-8";

nav {
	padding: 0px 10px 0px 10px;
	width: 1000px;
	margin: auto;
}

nav ul {
	padding: 0px;
	margin: 0px;
	box-shadow: 2px 2px 2px #dfdfdf;
	-moz-box-shadow: 2px 2px 2px #dfdfdf;
	-webkit-box-shadow: 2px 2px 2px #dfdfdf;
}

nav ul:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

nav ul, nav ul li {
	background-color: #FAFAFA;
}

nav ul li {
	list-style: none;
	float: left;
	border-right: 1px solid #dfdfdf;
}

nav ul li a {
	text-decoration: none;
	display: block;
	color: #333;
	padding: 14px 34px 14px 34px;
	-webkit-transition: background 0.5s ease-out 0s;
	-moz-transition: background 0.5s ease-out 0s;
	-o-transition: background 0.5s ease-out 0s;
	transition: background 0.5s ease-out 0s;
}

nav ul li:hover>ul {
	visibility: visible;
}

nav ul li:hover>a {
	color: #FAFAFA;
}

nav ul li ul li a {
	color: #FAFAFA;
}

nav ul li ul {
	display: inline;
	visibility: hidden;
	position: absolute;
	padding: 0px;
}

nav ul li ul li {
	float: none;
}

nav ul li ul li a:hover {
	color: #333;
	background-color: #FAFAFA !important;
}

nav ul li.user:hover a, nav ul li.cat1:hover>ul li a {
	background-color: #E6DD00;
}

nav ul li.kalender:hover a, nav ul li.cat2:hover>ul li a {
	background-color: #8CB302;
}

nav ul li.admin:hover a, nav ul li.cat3:hover>ul li a {
	background-color: #008C74;
}

nav ul li.login:hover a, nav ul li.cat4:hover>ul li a {
	background-color: #004C66;
}