@CHARSET "UTF-8";

p.erfolgreich {
	text-align: center;
	font-weight: bold;
	color: #017e00;
}

p.error {
	text-align: center;
	font-weight: bold;
	color: #FF0000
}

p.datum {
	text-align: right;
	font-size: 12px;
	padding: 0px;
}