@CHARSET "UTF-8";

@IMPORT url("./kalender.css");
@IMPORT url("./navigation.css");
@IMPORT url("./table.css");
@IMPORT url("./paragraph.css");

body {
	background-color: #999;
	font-family: Helvetica, Arial, sans-serif;
	height: 200px;
}

#container {
	width: 1000px;
	background-color: white;
	margin: auto;
}

header {
	padding: 10px;
	text-align: center;
}

#content {
	padding: 10px;
}

main {
	
}

footer {
	padding: 10px;
	text-align: center;
	clear: both;
}