@CHARSET "UTF-8";

@IMPORT url("./kalender.css");
@IMPORT url("./navigation.css");
@IMPORT url("./table.css");
@IMPORT url("./paragraph.css");
@IMPORT url("./form.css");
@IMPORT url("./stundenplan.css");

body {
	background-color: #999;
	font-family: Helvetica, Arial, sans-serif;
	height: 200px;
	padding: 30px;
}

#container {
	min-width: 1020px;
	background-color: white;
	margin: auto;
	-moz-box-shadow: 0px 0px 20px #000; /*Firefox*/
    -webkit-box-shadow: 0px 0px 20px #000;  /*Chrome*/
    box-shadow: 0px 0px 20px #000; /*restliche Browser*/
}

header {
	padding: 10px;
	text-align: center;
}

#content {
	padding: 10px;
}

main {
	
}

footer {
	padding: 10px;
	text-align: center;
	clear: both;
}
