@CHARSET "UTF-8";

table caption {
	padding: 10px;
}

table.ausgabe {
	padding-top: 10px;
	border-style: solid 0px;
	margin: auto;
	text-align: center;
}

table.ausgabe tr {
	background-color: #E0E0E0;
}

table.ausgabe tr:nth-child(odd) {
	background-color: #FAFAFA;
}

tr>th {
	background-color: #FAFAFA;
}

table.ausgabe tr td input.aendern {
	width: 95%;
}

select.aendern {
	width: 100%;
}


.ausgabe_gewichtung{
	width: 180px;
	
}
form label{
	
	width: 600px;
}
.formular_gewichtung{
	margin-left: 10px;
	text-align: right;
	
}
