@CHARSET "UTF-8";

table caption {
	padding: 10px;
}

table.ausgabe {
	padding-top: 10px;
	border-style: solid 0px;
	margin: auto;
}

table.ausgabe tr {
	background-color: #E0E0E0;
}

table.ausgabe tr:nth-child(odd) {
	background-color: #FAFAFA;
}

tr>th {
	background-color: #FAFAFA;
}