@CHARSET "UTF-8";

html, body {
	
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
}

header {
	/* height: 100px;
	color: green;
	
	float: inherit; */
	background-color: yellow;
	padding: 30px 30px 10px 30px;
}

nav {
	color: grey;
	background-color: blue;
	width: 200px;
	float: left;
	padding: 10px 30px 10px 30px;
}

footer {
	color: pink;
	background-color: red;
	height: 100px;
	float: bottom;
	clear: both;
	padding: 0;
	padding: 10px 30px 10px 30px;
}

main {
	color: purple;
	background-color: orange;
	padding: 10px 30px 10px 300px;
	margin: auto;
}

/* #wrap {
   width: 960px;
   margin: 0 auto;
   background: url(back.png) repeat-y;
} */
p {
	margin-bottom: 0.4em;
}